/* Reset de base et styles généraux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
}

/* Styles de l'en-tête */
header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2.5em;
}

header h2 {
    font-size: 1.5em;
}

header nav ul {
    list-style: none;
}

header nav li {
    display: inline;
    padding: 0 20px;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
}

header nav a:hover {
    color: #e8491d;
}

/* Styles pour le titre principal */
h1 {
    text-align: center;
    margin: 20px 0;
}

/* Styles pour les sections du portfolio */
.portfolio-section {
    margin-bottom: 20px;
}

.portfolio-frame {
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 600px;
}

.portfolio-title {
    font-size: 1.5em;
    color: #e8491d;
}

/* Styles pour le pied de page */
footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

/* Media Queries pour la responsivité */
@media(max-width: 768px) {
    header .container {
        flex-direction: column; /* Aligne les éléments verticalement sur les petits écrans */
        text-align: center; /* Centre le texte */
        padding-bottom: 10px; /* Ajoute un peu d'espace en bas */
    }

    header nav ul {
        padding-top: 10px; /* Ajoute un espace au-dessus du menu */
        flex-direction: column; /* Aligne les éléments du menu verticalement */
        align-items: center; /* Centre les éléments du menu */
        margin-top: 10px; /* Ajoute un espace au-dessus du menu */
    }

    header nav li {
        padding-bottom: 10px; /* Ajoute un espace entre les éléments du menu */
        display:block; /* Affiche chaque élément du menu sur une nouvelle ligne */
        width:auto; /* Ajuste la largeur des éléments du menu */
     }
}